Source: filestalker
Section: admin
Priority: optional
Maintainer: Dennis Schwertel <s@digitalkultur.net>
Build-Depends: debhelper (>= 5.0.51)
Standards-Version: 3.9.1
Homepage: https://github.com/kinkerl/filestalker

Package: filestalker
Architecture: all
Depends: ${misc:Depends}
Description: stalk files 
 looks for files in smb shares
